@using DotNetNuke.Web.Razor;

@using DNNGamification;
@using DNNGamification.Components.Entities;
@using DNNGamification.Components;

@inherits ProfileWebPage

<h3>@Html.GetLocalizedString("Badges.Header")</h3>
@* User badges section *@
<div class="gmfBadges dnnClear">
