@using DotNetNuke.Web.Razor;

@using DNNGamification;
@using DNNGamification.Components.Entities;
@using DNNGamification.Components;

@inherits ActivitySummaryWebPage

<tr class="dnnGridItem">
	<td style="text-align: left;">@Model.Name</td>
	<td>@Model.Points</td>
</tr>